a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
}

.navbar .navbar-brand img {
    width: 40px;
    /* margin-right: 10px; */
}

.btn-light {
    font-weight: 600;
    /* width: 120px; */
}

.b-right .row {
    display: flex;
    justify-content: flex-end;
}

.b-right .row img {
    height: 100%;
}

.card {
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 425px) {
    .p-5 {
        padding: 1rem !important;
    }
}

@media (max-width: 768px) {
    .f-h3 {
        padding-bottom: 10px;
    }
    .testimonial {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .b-right {
        width: 800px;
    }
    li.nav-item {
        margin: 0 10px;
    }
}

@media (min-width: 1200px) {
    .showcase-left {
        width: 35%;
    }
    .b-left {
        width: 50%;
    }
}

.carousel-icon {
    color: #000;
    font-size: 32px;
}